.jb_petit {
	font-size:0.8em;
}


div.jb_centrer {
	text-align:center;
}

.legend {
	font-size:1.2em;
}

.backPackLink {
	color: #FF0099;
	text-decoration: none;
	font-weight: bold;
	cursor: pointer;
}

#badge-error {
	display: none;
}

#badgeSuccess {
	display: none;
}
	