<?xml version="1.0" encoding="utf-8"?>
<config>
<fieldset name="objectives" label="COM_JOMBADGER_LABEL_OBJECTIVES" description="COM_JOMBADGER_DESC_OBJECTIVES">
	<field name="countarticles" type="radio"
					description="COM_JOMBADGER_COUNTARTICLES_DESC"
					label="COM_JOMBADGER_COUNTARTICLES_LABEL"
					default="0">
			<option value="0">JNO</option>
				<option value="1">JYES</option>
	</field>
	<field name="numberarticles" type="text"
					description="COM_JOMBADGER_NUMBERARTICLES_DESC"
					label="COM_JOMBADGER_NUMBERARTICLES_LABEL"
					default="10" />
	
</fieldset>
<fieldset name="facebook" label="COM_JOMBADGER_LABEL_FACEBOOK" description="COM_JOMBADGER_DESC_FACEBOOK">
	<field name="appid" type="text"
					description="COM_JOMBADGER_FACEBOOK_APPID_DESC"
					label="COM_JOMBADGER_FACEBOOK_APPID_LABEL"/>
			
</fieldset>
<fieldset name="notification" label="COM_JOMBADGER_LABEL_NOTIFICATION" description="COM_JOMBADGER_DESC_NOTIFICATION">
	<field type="text" name="issuername" size="40" label="COM_JOMBADGER_LABEL_ISSUERNAME" description="COM_JOMBADGER_DESC_ISSUERNAME" default="" />
	<field type="text" name="issuerorg" size="40" label="COM_JOMBADGER_LABEL_ISSUERORG" description="COM_JOMBADGER_DESC_ISSUERORG" default="" />
    <field type="text" name="issuercontact" size="40" label="COM_JOMBADGER_LABEL_ISSUERCONTACT" description="COM_JOMBADGER_DESC_ISSUERCONTACT" default="" />
    <field type="text" name="issuerurl" size="40" label="COM_JOMBADGER_LABEL_ISSUERURL" description="COM_JOMBADGER_DESC_ISSUERURL" default="" />
</fieldset>
<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
	>
		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			validate="rules"
			filter="rules"
			component="com_jombadger"
			section="component"
		/>
	</fieldset>
<fieldset name="jombadger" label="COM_JOMBADGER_LABEL_CONFIG" description="COM_JOMBADGER_DESC_CONFIG">
    <field type="text" name="apiurl" size="40" label="COM_JOMBADGER_LABEL_APIURL" description="COM_JOMBADGER_DESC_APIURL" default="http://beta.openbadges.org/issuer.js" />
    <field type="hidden" name="version" size="6" label="COM_JOMBADGER_LABEL_VERSION" description="COM_JOMBADGER_DESC_VERSION" default="1.0" />
</fieldset>
</config>

