<?xml version="1.0" encoding="utf-8"?>
<config>
<fieldset name="jombadger" label="COM_JOMBADGER_LABEL_CONFIG" description="COM_JOMBADGER_DESC_CONFIG">
    <field type="text" name="apiurl" size="40" label="COM_JOMBADGER_LABEL_APIURL" description="COM_JOMBADGER_DESC_APIURL" default="http://beta.openbadges.org/issuer.js" />
    <field type="text" name="version" size="6" label="COM_JOMBADGER_LABEL_VERSION" description="COM_JOMBADGER_DESC_VERSION" default="0.5.0" />
	<field type="text" name="issuerurl" size="40" label="COM_JOMBADGER_LABEL_ISSUERURL" description="COM_JOMBADGER_DESC_ISSUERURL" default="" />
	<field type="text" name="issuername" size="40" label="COM_JOMBADGER_LABEL_ISSUERNAME" description="COM_JOMBADGER_DESC_ISSUERNAME" default="" />
	<field type="text" name="issuerorg" size="40" label="COM_JOMBADGER_LABEL_ISSUERORG" description="COM_JOMBADGER_DESC_ISSUERORG" default="" />
    <field type="text" name="issuercontact" size="40" label="COM_JOMBADGER_LABEL_ISSUERCONTACT" description="COM_JOMBADGER_DESC_ISSUERCONTACT" default="" />
</fieldset>
<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
	>
		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			validate="rules"
			filter="rules"
			component="com_jombadger"
			section="component"
		/>
	</fieldset>
</config>

